#lingkaran{
	margin:20px 20px;
	float:center;
	width:100px;
	height:100px;
	background:white;
	border-radius:100px;
	box-shadow: 5px 5px 15px #666666; 
	-moz-border-radius:100px;
	-webkit-border-radius:100px;
}
.box-shadows{
	padding: 50px 50px 50px 50px;
	float:center;
	width:100%;
	background:white;
	border-radius:10px;	
	box-shadow: 5px 5px 15px #666666; 
	-moz-border-radius:100px;
	-webkit-border-radius:100px;
}

body {
	background-color: #f1f1f1;
}